<h1>Your results human,		   <%=f_name%> <%=l_name%><br> <%=n1%> <%=func%> <%=n2%> = <%=answer%></h1>

<form method="post" action="back">
	<input type="hidden" name="f_name" value="<%=f_name%>">
	<input type="hidden" name="l_name" value="<%=l_name%>">

	<input type="submit" value="Again?">
</form>

